body{
    background: rgb(255, 255, 255);
}

a{
    background-color: rgba(0, 0, 0, 0) !important;
}

.by-ch{
    font-size: 60%;
    align-self: flex-end;
}

.social-svg{
    fill:rgb(255, 255, 255);
    margin: 10px;
    position: relative;
    right: 50px;
}

.ico-social-svg{
    width: 30px;
}

.exp-img{
    width: 50px;
    height: 50px;
}


.std-img{
    width: 60%;
}

.logo-tech{
    height: 100px;
    width: 100px;
    margin: 10px;
}

.bg-sky{
    background-color:  #709fe2;
}

.bg-grey{
    background-color:  #313131;
    color: rgb(242, 243, 245);
}

.bg-purple{
    background-color: rgb(142, 56, 163);
}

.bg-pink{
    background-color: rgb(230, 75, 152);
}

.bg-redbrown{
    background-color: #420e15;
}

.bg-brown{
    background-color: #b97c0a;
}

.bg-orange{
    background-color: #e74218;
}

.java{
    fill: rgb(62, 122, 212);
}

.spring{
    fill: rgb(44, 221, 38);
}

.js{
    fill: rgb(236, 236, 61);
}

.angular{
    fill: #dd0122;
}

.nodejs{
    fill: rgb(0, 151, 0);
}

.python{
    fill: #11152b;
}

.html{
    fill: rgb(223, 45, 1);
}

.css{
    fill: rgb(77, 77, 235);
}

.ruby{
    fill: #b9021e;
}

.poo{
    font-family: 'Courier New', Courier, monospace;
    font-size: 70px;
    font-weight:bolder;
    user-select: none;
}

.mysql{
    fill: silver;
}

.hys{
    fill: #11152b;
}

.windows{
    fill: #1052b6;
}

.scrum{
    fill: #8d3fc2;
}

.idioma{
    fill: rgb(124, 181, 219);
}

.word{
    fill: rgb(50, 52, 145);
}

.excel{
    fill: rgb(34, 145, 34);
}

.asistencia{
    fill: rgb(81, 196, 196);
}

.cambios{
    fill: aliceblue;
}

.aprendizaje{
    fill: #420e15 ;
}

.equipo{
    fill: rgb(105, 1, 91);
}

.comunicacion{
    fill: rgb(245, 124, 165);
}

.resolucion{
    fill: rgb(31, 112, 31);
}

.gestion{
    fill: rgb(141, 84, 9);
}
